
lib-dynamic-form{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    padding: 10px;
    background:ghostwhite;
    border:1px solid silver;
    margin:20px;
}

::ng-deep.app-control-field {
    margin-top: 8px;
}
::ng-deep.app-control-array{
    .app-control-field {
        width:100%;
    }
}

::ng-deep.location-control-group {
    .app-control-field { width: 48%; }
}

::ng-deep.name-control-group{
    .app-control-field { width: 48%; }
}

::ng-deep.hide-control{
    display: none;
}